---
title: Eevis Panula | Software Developer
layout: main
---

<section class="content landing">
  <h1>Hello there, I'm Eevis</h1>
  <h2 class="subheading">
    Software developer, speaker, ultimate frisbee player
  </h2>
</section>
<section class="content">
  <h2>About</h2>
  <p class="about">
    Hey! My name is Eevis, and I'm a software developer from Finland. Things I
    love to work with are React, TypeScript, GraphQL, accesibility-related
    things and CSS. Also, I am
    <a href="https://www.accessibilityassociation.org/cpwa"
      >CPWA - Certified Professional in Web Accessibility<i
        class="material-icons"
        role="presentation"
        aria-label="link leads to external site"
        >open_in_new</i
      ></a
    >
  </p>

  <p class="about">
    I love sharing what I have learned, and one of the best moments of my career
    have been those, when I've helped someone to get excited about programming.
    I've been part of teams organizing beginner level coding workshops, and also
    have done some talks in local meetups.
  </p>

  <p class="about">
    When not coding, I play ultimate frisbee in national level, and participate
    in the decision making in Finnish Flying Disc Association, or explore the
    waters around where I live by kayak.
  </p>
</section>
<section class="content">
  <h2>Speaking</h2>
  <div>
    <h3>Upcoming</h3>
    <article class="card">
      <h4 id="mk-asteroiditutka-2">
        Mimmit koodaa Webinar
        <span class="date">11.03.2021</span>
      </h4>
      <p>Livekoodausta: Asteroiditutka 2</p>
      <p>
        <a
          href="https://mimmitkoodaa.ohjelmistoebusiness.fi/workshopit/livekoodausta-asteroiditutka-osa-2/"
          aria-describedby="mk-asteroiditutka-2"
        >
          More details about the event
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          >
        </a>
      </p>
    </article>
    <article class="card">
      <h4 id="reactfinland-accessibility">
        React Finland Vodcast #2
        <span class="date">29.03.2021</span>
      </h4>
      <p>Accessibility</p>
      <p>
        <a
          href="https://react-finland.fi/blog/vodcast-02/"
          aria-describedby="reactfinland-accessibility"
        >
          More details about the event
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          >
        </a>
      </p>
    </article>
    <article class="card">
      <h4 id="mimmitKoodaaLaunch2021">
        Mimmit koodaa - This is Not a Webinar
        <span class="date">23.04.2021</span>
      </h4>
      <p>
        Rohkeasti esiin - Naisten esilläolon tärkeydestä ja miten rohkaista
        meitä puhumaan
      </p>
      <p>
        <a
          href="https://mimmitkoodaa.ohjelmistoebusiness.fi/thisisnotawebinar/"
          aria-describedby="mimmitKoodaaLaunch2021"
        >
          More details about the event
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          >
        </a>
      </p>
    </article>
  </div>
  <a href="/speaking#past">Past talks</a>
</section>
<section class="content">
  <h2>Selected projects</h2>
  <div class="projects">
    <article class="project-card">
      <h3 id="headingTurkupy">Turku.py-meetup's homepage</h3>
      <p>I have been helping to implement the webpage of Turku.py-meetup.</p>
      <p>
        <a href="https://turkupy.github.io/"
          >Turku.py webpage
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          ></a
        >
      </p>
      <p>
        <a
          href="https://github.com/turkupy/turkupy.github.io"
          aria-describedby="headingTurkupy"
          >Source code
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          ></a
        >
      </p>
    </article>
    <article class="project-card">
      <h3 id="headingCatReadme">
        Virtual cat in profile README with Github actions
      </h3>
      <p>
        There is a automatically updating cat in my profile README! You can pet
        her too (if you have a github account) 🐱
      </p>
      <p>
        <a
          href="https://github.com/eevajonnapanula/"
          aria-describedby="headingCatReadme"
          >Source code
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          ></a
        >
      </p>
    </article>
    <article class="project-card">
      <h3 id="headingUltimate">Ultimate frisbee CSS-animations</h3>
      <p>Some ultimate frisbee plays demonstrated as CSS-animation.</p>
      <p>
        <a href="https://eevis.codes/ultimate-css-animations">
          Ultimate frisbee CSS-animations
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          ></a
        >
      </p>
      <p>
        <a
          href="https://github.com/eevajonnapanula/ultimate-css-animations"
          aria-describedby="headingUltimate"
          >Source code
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          ></a
        >
      </p>
    </article>
  </div>
</section>
