@import url('https://fonts.googleapis.com/css?family=Rubik:700|Merriweather:400,400i,700&display=swap');


:root {
  /* Light theme */
  --c-light-text: #171717;
  --c-light-background: #fcf7f8;
  --c-light-primary: #392f5a;
  --c-light-accent: #d4257d;

  /* Dark theme */
  --c-dark-text: #fcf7f8;
  --c-dark-background: #2C2C2C;
  --c-dark-primary:#817A96;
  --c-dark-accent: #E788B8;
}

body {
  --c-text: var(--c-light-text);
  --c-background: var(--c-light-background);
  --c-primary: var(--c-light-primary);
  --c-accent: var(--c-light-accent);
  background-color: var(--c-background);
  color: var(--c-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Merriweather', serif;
}

.dark {
  --c-text: var(--c-dark-text);
  --c-background: var(--c-dark-background);
  --c-primary: var(--c-dark-primary);
  --c-accent: var(--c-dark-accent);
}

main {
  animation-name: pageLoad;
  animation-duration: 1s;
}

@keyframes pageLoad {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button[aria-expanded="true"] ~ ul {
  display: block;
}

button[aria-expanded="false"] ~ ul {
  display: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

nav a {
  display: block;  
  text-align: center; 
  text-decoration: none;
}

nav button {
  border: 0.1rem solid var(--c-accent);
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color:  var(--c-accent);
  color: var(--c-background) !important;
  margin: 0.5rem;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out
}

nav button:hover, nav button:focus {
  transform: scale(1.4);
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4rem;
  color: var(--c-primary);
}

h2::after {
  content: '';
  display: block;
  width: 85%;
  max-width: 4em;
  padding-top: 0.25em;
  border-bottom: 0.1em solid var(--c-accent);
}

h3 {
  font-style: italic;
}

.subheading::after {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 2em 0 2em;
}

.visually-hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.content.landing {
  padding-top: 3em;
  padding-bottom: 3em;
  align-items: flex-end;
  text-align: right;
}

.content.content.landing h2 {
  margin-top: -1.5em;
}

.contacts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.contacts ul li {
  float: left;
  padding: 0.75em;
}

.card::after {
  content: '';
  height: 2px;
  width: 10em;
  margin: auto;
  border-bottom: 0.5px solid var(--c-primary);
  display: block;
}

.card:last-child::after {
  display: none;
}

a {
  text-decoration: none;
  color: var(--c-accent);
}

a:hover {
  color: var(--c-primary);
}

.contacts li a::after {
  content: '';
  display: block;
  width: 100%;
  margin: auto;
  padding-top: 0.25em;
  border-bottom: 0.1em solid var(--c-primary);
}

.about {
  line-height: 1.5;
  text-align: justify;
  hyphens: auto;
}

.updated {
  font-style: italic;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  padding-bottom: 1em;
}

.bold {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .content {
    padding: 0 10em 0 10em;
  }

  .about {
    width: 30em;
  }

  .card {
    width: 30em;
  }

  #menuButton {
    display: none;
  }


  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  button[aria-expanded="false"] ~ ul {
    display: flex;
  }

  li > a[aria-current="page"]  {
    color: var(--c-primary);
    transform: scale(1.2);
  }
  
}

@media only screen and (min-width: 1440px) {
  .content {
    padding: 0 25rem 0 25rem;
  }
}
