---
title: Now | Eevis Panula | Software Developer
layout: main
---

<section class="content landing">
  <h1>/now</h1>
  <h2 class="subheading">What is going on right now?</h2>
</section>
<section class="content">
  <h2>What is going on in my life right now?</h2>
  <p class="about">
    <span class="bold">Finishing studies</span> I've been studuing for BBA for
    almost three years now, and I need to sit one more exam to finish the
    degree.
  </p>
  <p class="about">
    <span class="bold">I'm CPWA!</span> I took the WAS-exam in December, and got
    the results on Christmas Day. As I already have the CPACC-credentials, I am
    now Certified Professional in Web Accessibility! 🎉
  </p>
  <p class="about">
    <span class="bold">Blogging.</span> I've recently started blogging. If you
    want to find my blogposts, head to my
    <a href="https://dev.to/eevajonnapanula"
      >blog in Dev.to.
      <i
        class="material-icons"
        role="presentation"
        aria-label="link leads to external site"
        >open_in_new</i
      ></a
    >
  </p>
</section>
<section class="content">
  <p>
    /now-page inspired by
    <a href="https://nownownow.com"
      >nownownow.com
      <i
        class="material-icons"
        role="presentation"
        aria-label="link leads to external site"
        >open_in_new</i
      ></a
    >
  </p>
  <p class="updated">Updated at: November 24th, 2020</p>
</section>
