---
title: Speaking | Eevis Panula | Software Developer
layout: main
---

<section class="content landing">
  <h1>Speaking</h1>
  <h2 class="subheading">Past and future</h2>
</section>
<section class="content">
  <h2>Speaking</h2>
  <div>
    <h3>Upcoming</h3>
  </div>
  <div>
    <h3 id="past">Past</h3>
    <article class="card">
      <h4 id="techweekliesApolloClientNewThings">
        Futurice Tech Weeklies
        <span class="date">11.12.2020</span>
      </h4>
      <p>Cool new things in Apollo Client 3.0</p>
      <p>
        <a href="https://techweeklies.futurice.com/"
          >Tech Weeklies at Futurice
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          ></a
        >
      </p>
    </article>
    <article class="card">
      <h4 id="mimmitKoodaa">
        Mimmit koodaa - This is not a webinar
        <span class="date">20.11.2020</span>
      </h4>
      <p id="talkGraphqlBasics">GraphQL 101: Vaihtoehtoja rajapintoihin</p>
      <p>
        <a
          href="https://mimmitkoodaa.ohjelmistoebusiness.fi/thisisnotawebinar/"
          aria-describedby="mimmitKoodaa"
        >
          More details about the event
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          >
        </a>
      </p>
      <p>
        <a
          href="https://www.youtube.com/watch?v=xCiHyPyXkCU"
          aria-describedby="mimmitKoodaa"
          >The talk on Youtube
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          ></a
        >
      </p>
    </article>
    <article class="card">
      <h4>
        Futurice Tech Weeklies
        <span class="date">06.11.2020</span>
      </h4>
      <p id="techweekliesHacktoberfest">
        Hacktoberfest as a participant and a maintainer
      </p>
      <p>
        <a href="https://techweeklies.futurice.com/"
          >Tech Weeklies at Futurice
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          ></a
        >
      </p>
      <p>
        <a
          href="https://youtu.be/udiw2jMZMno"
          aria-describedby="techweekliesHacktoberfest"
          >The talk on Youtube
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          ></a
        >
      </p>
    </article>
    <article class="card">
      <h4>Futurice Tech Weeklies <span class="date">15.5.2020</span></h4>
      <p id="talkGraphql">
        GraphQL, you're intuitive and flexible, we'll be friends
      </p>
      <p>
        <a
          href="https://www.youtube.com/watch?v=Q7KzHDxKcCs"
          aria-describedby="talkGraphql"
          >The talk on Youtube
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          ></a
        >
      </p>
      <p>
        <a
          href="https://slides.com/eevajonna/grapqhl/"
          aria-describedby="talkGraphql"
          >Slides
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          ></a
        >
      </p>
    </article>
    <article class="card">
      <h4>LevelUp-koodarit afterwork <span class="date">12.5.2020</span></h4>
      <p>GraphQL, you're intuitive and flexible, we'll be friends</p>
    </article>
    <article class="card">
      <h4>Turku.py-meetup <span class="date">19.2.2020</span></h4>
      <p>Getting started with your dev career</p>
      <p>
        <a
          href="https://meetabit.com/events/getting-started-with-your-tech-career"
          >Turku.py-meetup
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          ></a
        >
      </p>
    </article>
    <article class="card">
      <h4>React Community-meetup <span class="date">30.1.2020</span></h4>
      <p id="talkLocalstate">Local state management with Apollo Client</p>
      <p>
        <a href="https://www.meetup.com/ReactJS-Community/events/266913947/"
          >React Community-meetup
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          ></a
        >
      </p>
      <p>
        <a href="https://youtu.be/Fd7qBvQvGd4" aria-describedby="talkLocalstate"
          >The talk on Youtube
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          ></a
        >
      </p>
      <p>
        <a
          href="https://slides.com/eevajonna/state-management-with-apollo-client"
          aria-describedby="talkLocalstate"
          >Slides
          <i
            class="material-icons"
            role="presentation"
            aria-label="link leads to external site"
            >open_in_new</i
          ></a
        >
      </p>
    </article>
  </div>
</section>
